@{
	ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img src="~/Images/library.jpg" class="full-width-image" alt="Library Image">
</div>

    <div class="overlay-text">
        <h1>Bookstore</h1>
        <p>A fun bookstore designed from readers to readers</p>
    </div>


